<index-page>
  
  <div style="text-align: center; margin-top: 25vh;">
    <a href="https://t6mj3.sse.codesandbox.io/examples" class="btn" target="_blank">
      Open Examples
    </a>
  </div>

  <script>
    export default () => ({
      layout: 'base',
      onMounted(state, props) {
        
      },
    })
  </script>
</index-page>